<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{{site.title}} | {{title}}</title>
    
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/transition.js"></script>
    <script src="/assets/js/collapse.js"></script>
  </head>
  
  <body class="{{ title | slug | prepend: 'page--' }} {{ template | fallback: 'default' | prepend: 'template--' }}">
  
  <header id="site-header">
    {% include 'includes/nav' %}
  </header>
  
  
  
  